
@{
    ViewData["Title"] = "Index";
}

<h2>Admin</h2>
<hr />
<div class="container">
    <div class="jumbotron">
        <h3>Área do Admnistrador</h3>
        <p>
            Esta é a área do Administrador
        </p>
    </div>
    <p>Admin</p>
    <p>Felipe</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a> |
    <a asp-area="Produtos" asp-controller="Produtos" asp-action="Index">Produtos</a> |
    <a asp-area="Admin" asp-controller="Admin" asp-action="Informacoes">Informações</a>
</div>
