
@{
    ViewData["Title"] = "Informacoes";
}

<h2>Informações</h2>
<hr />
<div class="container">
    <div class="jumbotron">
        <h2>Informações</h2>
        <p>
            Esta é a área do Admin - Informações
        </p>
    </div>
    @Html.ActionLink("Volta a Home Page", "Index", "Home", new { area = "" }) |
    @Html.ActionLink("Acessa Produtos", "Index", "Produtos", new { area = "Produtos" }) |
    @Html.ActionLink("Volta ao Admin", "Index", "Admin", new { area = "Admin" })
</div>


