@model Mvc_ModelBinding.Models.Cliente

<h1>ExibirDados</h1>

<hr />

Id:
<label for="Id">@Model.Id</label> <br />

Nome:
<label for="Id">@Model.Nome</label> <br />

Email:
<label for="Id">@Model.Email</label> <br />

<hr />

<a href="/Cliente/Index">Retornar</a>
