@model IEnumerable<mvcore2.Models.Cliente>
    
    
    <h2>Clientes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>

