<table>
    <tr>
        <td>@Html.ActionLink("Home","Index","Home")</td>
        <td>@Html.ActionLink("Cliente","Index","Cliente")</td>
        <td>@Html.ActionLink("Contato","Contact","Home")</td>
        <td>@Html.ActionLink("Sobre","About","Home")</td>
    </tr>
</table>